$color1: #777777;
$color2: #0053a1;
$color3: #3c3950;
$color4: #f4f6f7;
$color5: #ffffff;
$color6: #dfe5e8;
$color7: #dddddd;
$color8: #222f3e;
$color9: #10ac84;
$color10: #2c2e3d;
$color11: #99a9b5;
$color12: #00bcd4;
$color13: #171b2d;
$color14: #838693;
$color15: #4e64b5;
$color16: #0288d1;
$color17: #00aced;
$color18: #9a8f62;
$color19: #aaaaaa;

/* BOOTSTRAP */
$font-family-sans-serif: "Montserrat";
